body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.content {
  display: flex;
  width: 1050px;
  margin: 0 auto;
  align-items: stretch;
}

.source-tag {
  border-radius: 2px;
  background-color: #202020;
  color: white;
  padding: 5px;
  display: inline-block;
}

/*Sidebar Nav*/
header {
  max-width: 275px;
  min-height: 100%;
  position: relative;
  flex-grow: 1;
}

.sidebar {
  position: fixed;
}

.sidebar h3 i {
  font-size: 2rem;
  margin-right: 10px;
}

.sidebar nav div {
  margin-bottom: 0.25rem;
}

.sidebar nav a {
  padding: 1rem;
  padding-left: 0;
  text-decoration: none;
  color: #202020;
  font-size: 1rem;
  display: block;
}

button {
  padding: 1rem;
  padding-left: 0;
  text-decoration: none;
  color: #776b6b;
  font-size: 1rem;
  display: block;
  border: none;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #e8e8e8;
  transition-duration: 0.4s;
}

button:disabled {
  background-color: grey;
}

/* Insta */
main {
  display: flex;

}

.feed {
  margin: 2rem auto;
  width: 500px;
}

/* Post */

.feed section {
  border: 1px rgb(219, 219, 219) solid;
  margin-bottom: 1rem;
  border-radius: 2px;
}

.feed section h3 {
  padding: 15px;
  margin-bottom: 0;
}

.feed section h3 a i {
  margin-right: 5px;
}

.feed section h3 a {
  padding: 0.5rem;
  text-decoration: none;
  color: #202020;
}

.feed section span {
  margin: 10px;
}

.feed section iframe {
  width: 100%;
  display: block;
}


.feed section img {
  width: 100%;
}

.feed section .panel {
  display: flex;
  padding: 10px 5px;
}

.panel .bookmark {
  margin-left: auto;
}

.feed section .panel button {
  display: inline-block;
  font-size: 1.3rem;
  padding: 1rem;
  width: auto;
  background-color: rgba(0,0,0,0);
}

.feed section .note {
  display: none;
}

.feed section .note.active {
  display: block;
  padding: 1rem;
  padding-top: 0;
  min-height: 100px;
  transition-duration: 1s;
}

.feed section .note textarea {
  width: 100%;
  background-color: #E8E8E8;
  font-family: inherit;
  border: none;
  border-radius: 2px;
  resize: none;
  padding: 0.5rem;
  box-sizing: border-box;
  height: 100px;
}

.feed section .note textarea:focus {
  outline: none;
}

/*Add Feed*/

.dialog {
  margin: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.75);
  height: 100vh;
  width: 100vw;
  z-index: 99;
}

.dialog .dialog-content {
  width: 550px;
  background-color: white;
  position: relative;
  margin: 2rem auto;
  z-index: 100;
  border-radius: 2px;
}

.dialog .dialog-content h3 {
  padding: 10px;
  border-bottom: 0.8px #202020 solid;
}

.dialog .dialog-content h3 .lni-close {
  cursor: pointer;
}
.dialog .dialog-content .dialog-body {
  padding: 10px;
}

.text-black {
  color: black;
}

input {
  padding: 1rem;
  font-size: 1rem;
  border: 0.5px grey solid;
  border-radius: 2px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 10px;
}

input:focus {
  outline: none;
  border-color: black;
}

label {
  display: block;
  font-size: 1rem;
  color: grey;
  margin-bottom: 10px;
}

label:focus-within {
  color: black;
}
