body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  width: 1050px;
  margin: 0 auto;
}

/*Sidebar Nav*/
.sidebar {
  width: 275px;
  height: 100%;
  position: fixed;
}

.sidebar h3 i {
  font-size: 2rem;
  margin-right: 10px;
}

.sidebar nav {
  padding-right: 2rem;
}

.sidebar nav a {
  padding: 1rem;
  padding-left: 0;
  text-decoration: none;
  color: #202020;
  font-size: 1.2rem;
  display: block;
}

button {
  padding: 1rem;
  padding-left: 0;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  display: block;
  background-color: #202020;
  border: none;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
}

/* Insta */
.feed {
  margin: 0 auto;
  width: 500px;
}

.feed section {
  min-height: 100px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  border-radius: 2px;
}

.feed section h3 {
  padding: 15px;
  margin-bottom: 0;
}

.feed section h3 a i {
  margin-right: 5px;
}

.feed section h3 a {
  padding: 0.5rem;
  text-decoration: none;
  color: #202020;
}

.feed section span {
  margin: 10px;
  border-radius: 2px;
  background-color: #202020;
  color: white;
  padding: 5px;
  display: inline-block;
}

.feed section img {
  width: 500px;
}

.feed section .panel {
  padding: 10px 5px;
}

.feed section .panel a {
  padding: 2rem;
}

/*Add Feed*/

.dialog {
  margin: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.75);
  height: 100vh;
  width: 100vw;
  z-index: 99;
}

.dialog .dialog-content {
  width: 550px;
  background-color: white;
  position: relative;
  margin: 2rem auto;
  z-index: 100;
  border-radius: 2px;
}

.dialog .dialog-content h3 {
  padding: 10px;
  border-bottom: 0.8px #202020 solid;
}

.dialog .dialog-content h3 .lni-close {
  cursor: pointer;
}
.dialog .dialog-content .dialog-body {
  padding: 10px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 0.5px grey solid;
  border-radius: 2px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-top: 10px;
}

input:focus {
  outline: none;
  border-color: black;
}

label {
  display: block;
  font-size: 1rem;
  color: grey;
  margin-bottom: 10px;
}

label:focus-within {
  color: black;
}
